doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //JQuery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    //Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    //Angularjs
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
  body
    block content